.header-main{
    background-color: #151a1f;
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.header-main h1{
    margin: 0px;
}
.logout-btn{
    background-color: crimson;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
